<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue intro</title>
  </head>
  <body>
    <div id="my-app">
      <h2>Batman quotes</h2>
      <section>
        <h4>Creaqte new</h4>

        <input type="text" name="quote" v-model="newQuote.quote" />
        <input
          type="text"
          name="author"
          v-model="newQuote.author"
          v-on:keypress.enter="addQuote"
        />

        <small>{{newQuote}}</small>
      </section>

      <ul>
        <li v-for="({quote, author}, index) in quotes">
          <p>{{ index + 1 }}.- {{quote}}</p>
          <blockquote v-if="author">-{{author}}</blockquote>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
